Source: qtrvsim
Section: devel
Priority: optional
Maintainer: Pavel Pisa <pisa@cmp.felk.cvut.cz>
Build-Depends: debhelper (>= 9), qtbase5-dev, libelf-dev, cmake
Standards-Version: 3.9.8
Homepage: https://github.com/cvut/qtrvsim/
Vcs-Git: https://github.com/cvut/qtrvsim.git
Vcs-Browser: https://github.com/cvut/qtrvsim/

Package: qtrvsim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git
Description: Qt based RISC-V architecture emulator
 Graphical RISC-V CPU simulator with pipeline and cache visualization.

