[Desktop Entry]
Name=qtmips
GenericName=Qt Mips emulator
Exec=qtmips_gui
Icon=qtmips
Type=Application
Comment=Qt Mips emulator
Terminal=false
Categories=Qt;Development
